/* style.css */
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f0f0f0;
    margin: 20px;
  }

  .Galeri {
    display: flex;
    flex-direction: row;
    gap: 20px; 
    justify-content: center; 
    align-items: center; 
    margin-top: 20px;
    flex-wrap: wrap; 
  }
  
  .Galeri img {
    width: 200px;
    height: 200px;
    object-fit: cover; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  
  
  